body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
    font-family: 'Sacramento', serif;
    font-size: 48px;
}

.map_page_search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

input[type=text] {
   margin: auto;
   width: 50%;
   height: 40px;
   border: none;
   border-bottom: 2px solid #4795CE;
   border-radius: 4px;
   background-color: white;
   background-image: url("../images/iconmonstr-magnifier-1.png");
   background-position: 6px 7px;
   background-repeat: no-repeat;
   padding-left: 40px;
 }

 .content {
   display: flex;
   flex-direction: row;
 }
 .info-big-container {
   display: flex;
   flex-direction: column;
   width: 65%;
 }
 .info-container {
   width: 100%;
 }
 .information {
   width: 100%;
   display: flex;
   flex-direction: row;
   height: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-right: 50px;
   margin-left: 20px;
 }
 .image {
   width: 20%;
 }
 .info {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
 }

 .top-line {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .ratings {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
 .rating {
   width: 45%;
   font-size: 10px;
   display: flex;
   flex-direction: row;
   margin-bottom: 5px;
 }
 .rating-title {
   font-weight: bold;
 }
 .bar-border {
   width: 50px;
   height: 10px;
   border: 1px solid darkblue;
   margin-right: 5px;
   margin-left: 5px;
 }

 .bar-progress {
   width: 60%;
   height: 100%;
   background-color: #4795CE;

 }

 .testimonial {
   width: 200px;
   margin-left: 20px;
   font-size: 12px;
 }

 .top-title {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 20px;
   width: 40%;
 }

.information {
  padding-bottom: 20px;
  border-bottom: 1px rgb(196, 195, 195) solid;  
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {...}

Extra (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
*/